<title>Vinyl : New Review</title>

<%- include ../partials/header.ejs %>

<div class="column center">
  <h1>New review for <a href="#">ALBUM NAME</a></h1>
  <br>
  <form class="column center" action="#" method="post">
    <textarea name="content" rows="4" cols="70" required></textarea>
  <br>
  <br>
  <br>
  <button type="submit" name="button">Submit</button>
  </form>

</div>

<%- include ../partials/footer.ejs %>
