<div class="navbar">

  <a href="/"><h1 class="vinyl">Vinyl</h1></a>

  <form action="/search" method="post">
    <input type="text" name="searchTerm" value="">
    <button type="submit" name="search">Search</button>
  </form>

  <% if (loggedIn) { %>

    <a href="/users/<%=userName%>">
      <h3>Profile</h3>
    </a>

    <a href="/sign-out">
      <h3>Sign Out</h3>
    </a>

  <% } else { %>

    <a href="/sign-up">
      <h3>Sign Up</h3>
    </a>

    <a href="/sign-in">
      <h3>Sign In</h3>
    </a>

  <% } %>

</div>
