<div class="box">

  <div class="row sp-btwn center-vertically">
    <a href="/albums/#"><h2>album title</h2></a>
    <h3>review date</h3>
    <img src="/pictures/trash.png" alt="delete" class="delete-review" data-review-id='#'>
  </div>

  <p>Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. </p>

  <p>by <a href="#">username</a></p>
</div>
