<!-- TODO: Update <title> with user's name -->
<title>Vinyl : User's Profile</title>

<%- include ../partials/header.ejs %>

<div class="row sp-btwn">

  <div class="one-third">
    <img src="#" alt="User's profile photo">
  </div>

  <div class="two-thirds">
    <h1>Name</h1>
    <div class="row sp-btwn">
      <h3>Email</h3>
      <h3>email</h3>
    </div>
    <div class="row sp-btwn">
      <h3>Date Joined</h3>
      <h3>date</h3>
    </div>


    <div class="box">
      
      <div class="row sp-btwn">
        <a href="/albums/#"><h2>album title</h2></a>
        <h3>review date</h3>
        <img src="#" alt="delete" class="delete" data-review-id='#'>
      </div>

      <p>Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. Review review review review. </p>
    </div>


      <!-- <div class="box">
        <p>This user has not written any reviews</p>
      </div> -->

  </div>


</div>

<%- include ../partials/footer.ejs %>
